$palatino-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, serif; 
$georgia-family: Georgia,Cambria,"Times New Roman",Times,serif;
$arial-family: Arial, Helvetica Neue, Helvetica, sans-serif;

@import "~normalize.css/";

@import "./colors";

@import "games/redVsBlue.scss";

* {
    box-sizing: border-box;
}

html {
    overflow: hidden;
    font-family: $palatino-family !important;
}

// .join-indicator {
//     background: $white;
//     position: fixed;
//     top: 0;
//     left: 0;
//     padding: 10px;

//     .qr-code {
//         display: block;
//         width: 200px;
//         margin: auto;
//     }
// }

.landing-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background: desaturate(lighten($turquoise1, 50%), 30%);

    .landing-page-header {
        text-align: center;
        font-size: 3em;
    }

    .landing-page-name-prefix {
        color: $gray2;
        font-size: 0.75em;
        font-weight: normal;
        display: block;
    }

    .landing-page-name {
        display: block;
        margin-top: 1em;
        color: $orange3;
    }

    .landing-page-player-count-indicator {
        margin: 1em;
        font-size: 2em;
        color: $black;

        .landing-page-player-count {
            font-size: 1.25em;
            font-weight: bold;
        }
    }

    .landing-page-join-container {
        position: fixed;
        bottom: 20px;
        left: 20px;
        right: 20px;
        z-index: 1;
    }

    .landing-page-join {
        display: block;
        padding: 50px;
        font-size: 2em;
        border-radius: 2px;
        background: $white;
        box-shadow: 5px 5px 2px 3px transparentize($gray3, 0.75);
        position: relative;
        top: 0;
        left: 0;
        transition: all 0.1s;
        text-align: center;
        text-decoration: none;
        color: $black;

        &:active {
            top: 5px;
            left: 5px;
            box-shadow: 0 0 0 0 transparent;
        }
    }
}

.event-page-display-container {
    display: flex;
    height: 100vh;
}